nav.navbar.navbar-default
	div.container
		div.nabar-header
			a.navbar-brand(href='/') Needs
		ul.nav.navbar-nav.navbar-right
			li
				a(href='/') Home
			li
				a(href='/about') About
			li
				a(href='/needs') Needs